* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

#result {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: #101010;
}